*{
    margin: 0;
    padding: 0;
}

.abt{
    justify-content: center;
    padding: 100px;
    background-color: rgba(203, 196, 196, 0.273);
    border-radius: 30px;
    width: 80%;
    margin-left: 170px;
    margin-top: 100px;
}
h3 {
    position: relative;
    margin-left: 200px;
    top: 6vh;
    color: #488F27;
}
li{
    font-size: large;
    top: 3vh;
    position: relative;
}
h2{
    color: #488F27;
}
h1{
    position: relative;
    top: 5vh;
}
#about{
    height: 500px;
    margin-left: 1000px;
    position: absolute;
    bottom: 23vh;
}
.foter_div{
    background-color: rgba(203, 196, 196, 0.273);
    margin-top: 100px;
    height: 400px;
}

#fot_img{
    height: 30px;
    margin-left: 220px;
    margin-top: 50px;
}

.lst_fea{
    margin-left: 240px;
}

li:hover{
    transition: calc();
    color: #488F27;
    cursor: pointer;
}

.asp_fea{
    margin-left: 435px;
    top: 940px;
    position: absolute;
}

#assp{
    font-size: 30px;
}

.conect_soc{
    margin-left: 680px;
    position: absolute;
    top: 940px;
}

.cnt_us{
    font-size: 30px;
    top: 10px;
}

#in_icn{
    font-size: 40px;
}