// *{
//     margin: 0;
//     padding: 0;
//     display: flex;
//   }

  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  #hombg{
   width: 101%;
   height: 980px;
   top: -130px; 
   background-size: cover;
   position: absolute;
   right: -1px;
   margin-left: 80px;
}

.blur {
    background-size: cover;
    overflow: hidden;
    position: absolute;
    height: 400px;
    top: 0px;
    left: -90px;
    right: -50px;
    bottom: 50px;
    margin-left: 80px;
    backdrop-filter: blur(16px);
}

.widget {
    border-top: 2px solid rgba(255, 255, 255, .2);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    height: 400px;
    overflow: hidden;
}

.center {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.text {
    height: 150px;
    width: 340px;
}

.text h1 {
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 45px;
}

.text p {
    position: absolute;
    left: 7vh;
    color: #a8f3a6;
    text-shadow: 1px 1px rgba(0, 0, 0, .1);
    margin-top: 0px;
    font-weight: 400;
    font-size: 22px;
    width: 222px;
}



#ex {
    background-color: #a8f3a6;
    position: absolute;
    height: 50px;
    width: 100px;
    border-radius: 14px;
    margin-top: 413px;
    font-size: large;
    font-weight: 700;
    border: none;
    right: 871px;
}
