body {
    background-image:url(../images/image.png);
    background-position: center;
    height: 100;
    background-size: cover;
}
.buslist {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-style:oblique;
}
#BK {
    border-radius: 10px;
    background-color:goldenrod;
    font-size: large;
    font-family: sans-serif;

}