// Place all the styles related to the order controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
    margin: 0;
    padding: 0;
}
@media screen and (min-width: 768px) {
    .OrderFilter-form {
      display: flex;
      justify-content: space-between;
      text-align: center;
      align-items: center;
    }
    .OrderContainer {
      display: flex;
      justify-content: space-between;
    }
  }
  
//   @media screen and (max-width: 768px) {
//     .OrderContainer {
     
//     }
//   }