// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
    margin: 0;
    padding: 0;
}
.forgotPassword {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 1rem;
    /* color: rgb(0, 0, 209) !important; */
    color: black !important;
    text-decoration: none;
  }
  .forgotPassword:hover {
    color: cyan !important;
    background: transparent;
  }
  .forgotPassword-container {
    margin: 0.5% 0;
    padding: 2% 0;
  }