* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url('../image/bgofab.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
#name {
    text-align: left;
    color: rgb(165, 165, 165);
    font-family: Arial, Helvetica, sans-serif;
}

#s {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

#fresh {
    text-align: left;
    color: rgb(165, 165, 165);
    font-family: Arial, Helvetica, sans-serif;
}

#abt {
    margin-top: 20px ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
}
#con {
    font-family: Arial, Helvetica, sans-serif;
    width: 800px;
    margin-left: 40%;
    margin-top: 10%;
    font-size: 20px;
}
#ss {
    position: absolute;
    height:600px;
    width: 500px;
    margin-right: 1800px;
    margin-top: 80px;
    margin-left: 180px;
}
#ame{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-left: 45%;
    margin-top: 90px;

}
.btn-1 {
    background: rgb(153, 148, 148);
    background: linear-gradient(0deg, rgb(139, 139, 141) 0%, rgb(163, 159, 159) 100%);
    border: none;
  }
  .btn-1:hover {
     background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  }
  button {
    margin: 20px;
    margin-left: 700px;
    margin-top: 30px;
  }
  .custom-btn {
    width: 130px;
    height: 40px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
