*{
    margin: 0;
    padding: 0;
}
#nmtex{
    background-color: #d5d5db;
    height: 981px;
    width: 20%;     
}
#srim{
    position: absolute;
    height: 200px;
    width: 200px;
    margin-top: 90px;
    margin-left: 65px;
}
#tptex{
    margin-left: 115px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    position: absolute;
    font-size: 30px;
}
#partex{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 17%;
    width: 20%;
    margin-left: 12px;

}
#insim{
    height: 50px;
    width: 50px;
    margin-top: 120%;
    margin-left: 40px;
}
#linim{
    height: 50px;
    width: 50px;
    margin-left: 50px;
}
#behim{
    height: 50px;
    width: 50px;
    margin-left: 50px;
}
.sklstex{
    position:absolute;
    margin-left: 35%;  
    margin-top: 100px;  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
#setex{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 35%;
    margin-top: 10%;
    width: 30%;
    font-size: 20px;
}#tctex{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-left: 56%;
}
#dv1{
    position: absolute;
    background-color: #d5d5db;
    margin-left: 30%;
    margin-top: 130px;
    height: 130px;
    width: 150px;
}#dv2{
    position: absolute;
    background-color: #d5d5db;
    margin-left: 50%;
    margin-top: 130px;
    height: 130px;
    width: 150px;
    
}
#dv3{
    position: absolute;
    background-color: #d5d5db;
    margin-left: 70%;
    margin-top: 130px;
    height: 130px;
    width: 150px;
}
#dv4{
    position: absolute;
    background-color: #d5d5db;
    margin-left: 90%;
    margin-top: 130px;
    height: 130px;
    width: 150px;
}
#dv5{
    position: absolute;
    background-color: #d5d5db;
    margin-left: 40%;
    margin-top: 330px;
    height: 130px;
    width: 150px;
}
#dv6{
    position: absolute;
    background-color: #d5d5db;
    margin-left: 62%;
    margin-top: 330px;
    height: 130px;
    width: 150px;
}
#dv7{
    position: absolute;
    background-color: #d5d5db;
    margin-left: 83%;
    margin-top: 330px;
    height: 130px;
    width: 150px;
}
.whdv{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
#htmim{
    position: absolute;
    height: 150px;
    margin-left: 550px;
    margin-top: 130px;
}
#cssim{
    position: absolute;
    height: 120px;
    margin-left: 920px;
    margin-top: 140px;
}
#jsim{
    position: absolute;
    height: 80px;
    margin-left: 1330px;
    margin-top: 160px;
}
#msqim{
    position: absolute;
    height: 80px;
    margin-left: 1680px;
    margin-top: 150px;

}
#javim{
    position: absolute;
    height: 130px;
    margin-left: 710px;
    margin-top: 330px;

}
#rubim{
    position: absolute;
    height: 80px;
    margin-left: 1140px;
    margin-top: 360px;
}
#ralim{
    position: absolute;
    height: 80px;
    margin-left: 1570px;
    margin-top: 365px;
}
#cont{
    position: absolute;
    margin-top: 130px;
    font-size: 19px;
    
}
#sklim{
    position: absolute;
    margin-left: 71%;
    height: 30%;
    margin-top: 6%;
    border-radius: 20px;
}
.btn-1 {
    background: rgb(153, 148, 148);
    background: linear-gradient(0deg, rgb(139, 139, 141) 0%, rgb(163, 159, 159) 100%);
    border: none;
  }
  .btn-1:hover {
     background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  }
  button {
    margin: 20px;
    margin-top: 80px;
    margin-left: 100px;
  }
  .custom-btn {
    width: 130px;
    height: 40px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
